@import "../components/titles.css";
@import "../components/button.css";
@import "../components/icon.css";
@import "../components/card-design.css";
@import "../components/link-with-icon.css";

@import "../parts/section-intro.css";
@import "../parts/section-contact.css";
@import "../parts/services.css";
@import "../parts/section-designs.css";
@import "../parts/section-team.css";

.left-small,
.left-big,
.left-medium {
  padding-left: 2.5rem;
  padding-right: 1rem;
}

.left-medium {
  padding-left: 3.5rem;
}

@media (min-width: 1440px) {
  .left-small {
    padding-left: 16.5rem;
  }

  .left-medium {
    padding-left: 12rem;
  }

  .left-big {
    padding-left: 22.5rem;
  }
}
