.designs {
  max-width: 111rem;
  margin-left: auto;
  margin-right: auto;
}

.designs .title-two {
  margin: 10rem 0 5rem;
}

.designs ul {
  max-width: 111rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .designs {
    margin-top: 16rem;
  }

  .designs .title-two {
    font-size: var(--title-lg);
    line-height: 54px;
    max-width: 50rem;
    margin-bottom: 0;
  }

  .designs .mansory {
    justify-content: space-between;
    text-align: left;
  }

  .designs .mansory li {
    flex: 1;
    max-width: 54.5rem;
  }

  .designs .mansory {
    display: flex;
  }

  .designs li:first-child {
    margin-top: 175px;
    margin-right: 2rem;
  }

  .mansory:not(:first-of-type) li:last-child {
    margin-top: -15px;
  }

  .designs .link-with-icon {
    display: block;
    text-align: right;
  }
}
