.introduction {
  width: 100%;
  margin-top: 5.5rem;
}

/* goes to util.css */
.text {
  color: var(--gray-2);
  font-weight: 400;
  line-height: 2.4rem;
}

.highlight {
  font-size: var(--text-sm);
  color: var(--blue-1);
  display: block;
}

.introduction .highlight {
  margin-bottom: 0.5rem;
}

.hero-image {
  border-radius: var(--image-hero-radius);
  object-fit: contain;
}

.introduction .hero-image {
  margin: var(--space-xs) 0 var(--space-sm);
}

@media (min-width: 768px) {
  .introduction {
    margin-top: 12rem;
  }

  .introduction .inner-content {
    max-width: 88rem;
  }

  .highlight {
    font-size: var(--text-lg);
  }

  .introduction .highlight {
    margin-bottom: 1.5rem;
  }

  .introduction .hero-image {
    margin: var(--space-md) 0;
  }
}

@media (min-width: 1440px) {
  /* .introduction .inner-content {
    max-width: 80rem;
    padding-left: 22.8rem;
  } */
}
