.contact .title-two {
  width: 75%;
}

.contact .text {
  margin-top: 2.5rem;
  max-width: 90%;
}

.text-small {
  line-height: 1.8rem;
  font-size: var(--text-sm);
}

.contact .inner-content > .text {
  margin: 2rem 0 3rem;
}

.contact .legend {
  color: var(--gray-3);
  font-size: var(--text-xs);
  font-weight: 500;
  margin-bottom: 1rem;
}

.contact form {
  max-width: 40rem;
  margin-top: 3.5rem;
  padding-right: 1rem;
}

.form__elements-wrapper {
  height: 4.8rem;
  width: 100%;

  background-color: var(--gray-4);
  border-radius: 12px;

  display: flex;
  align-items: center;
  padding: 0.4rem;
  padding-left: 1.9rem;
  justify-content: space-between;
}

.form__elements-wrapper > * {
  font-weight: 500;
  font-size: var(--text-smx);
}

.input {
  height: 100%;
  background-color: transparent;
  border: none;

  flex: 1;
}

.input::placeholder {
  color: var(--gray-6);
}

@media (min-width: 768px) {
  .contact .text-small {
    line-height: 2.7rem;
    font-size: var(--text-lg);
    max-width: 37rem;
  }

  .contact .inner-content > .text {
    margin: 3rem 0 5rem;
  }

  .contact .legend {
    font-size: var(--text-smx);
    margin-bottom: 1rem;
  }

  .form__elements-wrapper {
    height: 5.7rem;

    max-width: 35rem;
  }

  .form__elements-wrapper > * {
    font-size: var(--text-lg);
  }

  .form__elements-wrapper .button {
    width: 9.4rem;
  }
  .contact .inner-content {
    max-width: 60rem;
    /* padding-left: 22.8rem; */
  }
}
