@import "../components/service-card.css";

.services {
  width: 100%;
  margin-top: 10rem;
}

.services ul {
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .services {
    margin-top: 20rem;
  }

  .services ul {
    display: flex;
    justify-content: space-between;
    max-width: 111.5rem;
    margin: 0 auto;
  }

  .services .title-two {
    font-size: var(--title-lg);
    max-width: 45rem;
    line-height: 54px;
  }
}
