.link-with-icon {
  display: inline-block;
  margin-top: 1rem;

  padding-right: 3.5rem;

  background: url(../../assets/images/arrow_right_alt-white-18dp.svg) no-repeat
    right center;
  background-size: 25px;

  font-size: var(--text-lg);
  color: var(--blue-1);
}

@media (min-width: 768px) {
  .link-with-icon {
    font-size: var(--text-lgx);
  }
}
