.title-two {
  font-size: var(--title-md);
  line-height: 3.6rem;
  font-weight: 500;
  max-width: 90%;
}

@media (min-width: 768px) {
  .title-two {
    font-size: var(--title-lgx);
    line-height: 7.2rem;
  }
}
