html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--font-primary);
  font-size: var(--text-md);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
  padding: 0 var(--space-xs) var(--space-xs);
}

main {
  max-width: var(--max-width);
}

body > * {
  margin: 0 auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  max-width: 100%;
}

@media (min-width: 768px) {
  body {
    padding: 0 var(--space-lg) var(--space-xs);
  }
}
